window#app_launcher {
  background: transparent;

  * {
    all: unset;
    font-family: "IBM Plex Sans";
    font-size: 0.9rem;
    font-weight: bold;
  }

  button {
    padding: 0.2rem;
    border-radius: 4px;
    min-width: 2rem;
    min-height: 2rem;

    transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);

    &:focus {
      background: $base0A;
      color: $base00;
    }

    &:hover {
      background: $base02;
      color: $base05;
    }
  }

  .entry {
    padding: 0.4rem;
    background: $base00;
    border-radius: 4px;
  }

  .al-out-box {
    background: $base00;
    padding: 0.6rem;
    margin: 0.2rem;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px #050505;

    .al-in-box {
      background: $base01;
      border-radius: 4px;
      padding: 0.6rem;
    }
  }
}
