@mixin bar-label {
  border-radius: 4px;
  padding: 0 0.8rem;
  background: $base01;
  min-width: 1.8rem;
  min-height: 1.8rem;
}

@mixin bar-button {
  @include bar-label();

  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);

  &:hover {
    background: $base02;
  }
}

@mixin small-label {
  padding: 0 2px;
}

.bar {
  * {
    all: unset;
    font-family: "ZedMono NF";
    font-size: 0.9rem;
  }

  .cbox {
    margin: 0.35rem 0rem 0rem 0em;
    background: $base00;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    padding: 0.2em;
  }

  button {
    @include bar-button();
  }

  .app-l-button {
    @include small-label();

    .icon {
      color: $base05;
    }
  }

  .workspaces {
    background: $base01;
    border-radius: 4px;

    button {
      padding: 0;
      margin: 2px 0;

      box {
        margin: 0.8em 0.4rem;
        transition: all 0.4s cubic-bezier(0.17, 0.67, 0.24, 1.46);

        background: transparentize($base05, 0.9);
        border-radius: 0.1rem;
      }

      &.occupied {
        box {
          background: $base05;
        }
      }

      &.active {
        box {
          min-width: 3em;
          background: $base0D;
        }
      }

      &:first-child {
        margin-left: 4px;
      }

      &:last-child {
        margin-right: 4px;
      }
    }
  }

  .tray {
    @include bar-label();
    @include small-label();

    button {
      padding: 0;
      margin: 2px 0;

      &:first-child {
        margin-left: 2px;
      }

      &:last-child {
        margin-right: 2px;
      }

      &:hover {
        color: $base02;
      }
    }
  }

  .tray-button {
    @include small-label();

    .icon {
      color: $base05;
      transition: all 0.2s cubic-bezier(1, 1, 1, 1);
      -gtk-icon-transform: rotate(90deg);

      &.showing {
        -gtk-icon-transform: rotate(270deg);
      }
    }
  }

  .battery-label {
    @include bar-label();

    .battery-bulb {
      background: $base0C;
      min-width: 3px;
      border-radius: 0.2em 0 0 0.2em;
      margin: 0.9em 0;
    }

    levelbar {
      trough {
        border: 2px solid $base0C;
        border-radius: 0.2em;
        margin: 0.5rem 0em;

        block.filled {
          background: $base0C;
        }
      }
    }

    &.charging {
      .battery-bulb {
        background: $base0B;
      }

      levelbar {
        trough {
          border: 2px solid $base0B;
        }

        block.filled {
          background: $base0B;
        }
      }
    }

    label {
      color: $base05;
      margin-left: 12px;
      padding: 0;
    }
  }

  .clock {
    @include bar-label();

    .icon {
      color: $base0C;
    }

    label {
      color: $base05;
    }
  }

  .control-button {
    @include bar-label();

    .speaker {
      color: $base0B;
    }

    .microphone {
      color: $base0A;
    }

    .network {
      color: $base0D;
    }

    .power {
      color: $base08;
    }
  }
}
