.bar {
  * {
    all: unset;
    font-family: "IBM Plex Sans";
    font-size: 0.88rem;
  }

  .cbox {
    margin: 0rem 0.4rem 0rem 0em;
    background: $bg-dark;
    box-shadow: 0 0 2px 2px $color0;
    padding: 0.2em;
  }

  button {
    padding: 0.8rem 0;
    background: $bg-light;
    border-radius: 4px;
    min-width: 2rem;
    min-height: 2rem;

    transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);

    &:hover {
      background: $hover;
    }
  }

  .app-l-button {
    padding: 2px 0;

    .icon {
      color: $fg;
    }
  }

  .workspaces {
    background: $bg-light;
    border-radius: 4px;

    button {
      padding: 0;
      color: $color8;
      margin: 0px 2px;
      transition: all 0.4s cubic-bezier(0.17, 0.67, 0.24, 1.46);

      box {
        min-height: 2em;
        margin: 0.2em 0.8em;
        background: transparentize($fg, 0.8);
        border-radius: 0.1rem;
      }

      &.occupied {
        box {
          background: $fg;
        }
      }

      &.active {
        min-height: 4em;

        box {
          background: $color10;
        }
      }

      &:first-child {
        margin-top: 4px;
      }

      &:last-child {
        margin-bottom: 4px;
      }
    }
  }

  .tray {
    button {
      &:first-child {
        margin-top: 4px;
      }

      &:last-child {
        margin-bottom: 4px;
      }

      padding: 0px;
      min-height: 24px;
      min-width: 8px;

      margin: 0px 2px;

      image {
        font-size: 10px;
      }

      &:hover {
        color: $hover;
      }
    }

    border-radius: 4px;
    background: $bg-light;
    min-height: 32px;
  }

  .tray-button {
    padding: 2px 0;

    .icon {
      // font-size: 1.2em;
      color: $fg;
      transition: all 0.2s cubic-bezier(1, 1, 1, 1);

      -gtk-icon-transform: rotate(90deg);

      &.showing {
        -gtk-icon-transform: rotate(270deg);
      }
    }
  }


  .battery-label {
    border-radius: 4px;
    padding: 0.4em 0;
    background: $bg-light;

    .battery-bulb {
      background: $color4;
      min-height: 3px;
      border-radius: 0.2em 0.2em 0px 0px;
      margin: 0 0.8em;
    }

    levelbar {
      trough {
        border: 2px solid $color4;
        border-radius: 0.2em;
        margin: 0 0.6em;

        block.filled {
          background: $color4;
        }
      }
    }

    &.charging {
      .battery-bulb {
        background: $color2;
      }

      levelbar {
        trough {
          border: 2px solid $color2;
        }

        block.filled {
          background: $color2;
        }
      }
    }

    label {
      color: $fg;
      margin-top: 0.4em;
      font-size: 0.8em;
      padding: 0;
    }
  }

  .clock {
    border-radius: 4px;
    padding: 0.8rem 0;
    background: $bg-light;

    .icon {
      color: $color14;
    }

    label {
      font-weight: bold;
      font-size: 1.1em;
      color: $fg;
    }
  }

  .control-button {
    .icon {
      &.network {
        color: $color6;
      }

      &.volume {
        color: $color2;
      }

      &.power {
        font-size: 0.9em;
        color: $color9;
      }
    }
  }
}
