window#control_panel {
  background: transparent;
  * {
    all: unset;
    font-family: "IBM Plex Sans";
    font-weight: bold;
    border: none;
  }

  .control-box {
    background: $bg-dark;
    margin: 0.8rem;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px $color0;
    padding: 0.6em;
  }

  .uptime {
    border-radius: 4px;
    background: $bg-light;
    font-size: 0.9em;
    color: $fg;
  }

  button {
    border-radius: 4px;
    font-size: 0.9em;
    background: $bg-light;
    transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);
  }

  .power-box {
    button {
      min-width: 3.8rem;
      min-height: 3.8rem;
      font-size: 1.1rem;

      &:focus {
        background: $hover;
      }

      &:hover {
        background: $hover;
      }

      &:nth-child(1) {
        color: $color9;
      }

      &:nth-child(2) {
        color: $color2;
      }

      &:nth-child(3) {
        color: $color3;
      }

      &:nth-child(4) {
        color: $color6;
      }
    }
  }

  .audio-slider {
    all: unset;
    background: $bg-light;
    padding: 0 0.8em;
    min-height: 3em;
    border-radius: 4px;
    font-size: 0.9em;

    scale {
      trough {
        background: transparentize($fg, 0.9);
        min-height: 0.4rem;
        border-radius: 2px;

        slider {
          background: none;
          box-shadow: none;
          border: none;
        }

        highlight {
          border-radius: 2px;
          border: none;
        }
      }
    }

    &.speaker {
      .icon {
        color: $color2;
      }

      scale {
        trough {
          highlight {
            background: $color2;
          }
        }
      }
    }

    &.microphone {
      .icon {
        color: $color10;
      }

      scale {
        trough {
          highlight {
            background: $color10;
          }
        }
      }
    }
  }

  .cal-box {
    border-radius: 4px;
    background: $bg-light;
    color: $fg;
    font-size: 0.8em;
    padding: 0.4rem 0.4rem 0.2rem;

    .cal {
      border: none; 
      padding: 0.35rem 0.25rem 0.25rem 0.35rem;
    }
  }

  calendar {
    box-shadow: none;
    background: $bg-light;
    &:selected {
      color: $color2;
    }
    &.header {
      color: $color14;
    }
    &:indeterminate {
      color: transparentize($fg, 0.9);
    }
  };


  .wifi {
    padding: 0 0.8em;
    min-height: 3em;

    .icon {
      color: $color6;
    }

    &:hover {
      background: $hover;
    }
  }
}
