window#app-launcher {
  background: transparent;

  .launcher-box {
    background: $base00;
    border: 2px solid $base01;
    border-radius: 5px;
    margin: 0.7em;

    button {
      transition: background 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);
    }

    .power-menu {
      background: $base01;
      padding: 0.7em;
      color: $base05;

      .lock {
        border-radius: 5px;
        color: $base0B;
        background: $base0B_transparent;

        &:hover {
          background: scale-color($color: $base0B_transparent, $lightness: 10%);
        }
      }

      .poff {
        border-radius: 5px;
        color: $base08;
        background: $base08_transparent;

        &:hover {
          background: scale-color($color: $base08_transparent, $lightness: 10%);
        }
      }
    }

    .apps {
      margin: 0.7em;

      scrollbar {
        background: none;
      }

      .app-item {
        border-radius: 5px;
        padding-left: 0.7em;
        color: $base05;

        &:focus {
          background: $base02;
          color: $base0D;
        }

        &:hover {
          background: $base02;
        }
      }
    }

    .search-entry {
      border-radius: 5px;
      padding-left: 0.7em;
      background: $base01;
      color: $base05;
      caret-color: $base05;
    }
  }
}
