window#app-launcher {
  background: transparent;
  font-size: 14px;

  button {
    padding: 0.4rem;
    border-radius: 3px;
    min-width: 2rem;
    min-height: 2rem;

    color: $base04;

    transition: background 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);

    &:focus {
      background: $base02;
      color: $base0D;
    }

    &:hover {
      background: $base02;
    }
  }

  .entry {
    padding: 0.4rem;
    border-radius: 3px;
    background: $base01;
  }

  .title {
    margin: 0 0.8rem;
  }

  .launcher-box {
    border-radius: 3px;
    background: $base00;
    padding: 0.6rem;
    margin: 0.65rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  }
}
