window.notification-popups box.notifications {
  * {
    all: unset;
    font-family: "ZedMono NF";
    font-size: 0.9rem;
  }

  padding: 4px;

  .icon {
    min-width: 68px;
    min-height: 68px;
    margin: 1rem;

    box {
      min-width: 48px;
      min-height: 48px;
      border-radius: 7px;
    }

    image {
      font-size: 38px;
      color: $base05;
    }
  }

  .notification {
    min-width: 25em;
    border-radius: 4px;
    margin: 0.65rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    background-color: $base00;

    .content {
      background: $base01;
      border-radius: 4px;
      margin: 0.6rem 0.6rem 0.6rem 0rem;
      padding: 0.8em;
    }

    &.critical {
      border: 2px solid $base08;
    }
  }

  .title {
    font-weight: bold;
  }

  .title,
  .body {
    color: $base05;
    margin: 0 0.4rem;
  }

  .actions {
    .action-button {
      color: $base05;
      font-weight: bold;
      background: $base02;
      transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);
      border-radius: 0.4em;
      padding: 0.8em;
      margin: 0 0.4rem;

      &:hover {
        background: $base03;
      }
    }
  }
}
