@mixin notif() {
  .notification {
    border: 2px solid $base01;
    border-radius: 3px;
    min-width: 20em;
    background-color: $base00;

    .notif-icon {
      min-width: 68px;
      min-height: 68px;
      margin: 0.7em;

      icon {
        color: $base04;
      }
    }

    &.critical {
      border: 2px solid $base08;
    }

    .header {
      background: $base01;
      padding: 0.5em;

      .title {
        font-weight: bold;
        color: $base04;
        font-size: 14px;
      }

      .time {
        color: $base04;
        font-size: 14px;
      }

      .close-button {
        icon {
          color: $base08;
        }

        &:hover {
          icon {
            color: transparentize($color: $base08, $amount: 0.3);
          }
        }
      }
    }

    .left {
      margin: 0.7em 0.7em 0.7em 0;

      .body {
        color: $base04;
        font-size: 14px;
      }

      .actions {
        margin-top: 0.7em;

        .action-button {
          color: $base04;
          border-radius: 3px;
          background: $base01;
          transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);
          padding: 0.5em;
          font-size: 14px;

          &:hover {
            background: $base02;
          }
        }
      }
    }
  }
}

window#panel box.notif-centre {
  @include notif();
}

window.notification-popups box.notifications {
  margin: 0.7em;
  @include notif();
}
