window.notification-popups box.notifications {
  * {
    all: unset;
  }

  font-family: "Iosevka NF";
  padding: 0.5rem 1rem 0.5rem 1rem;

  .icon {
    min-width: 78px;
    min-height: 78px;
    margin: 1rem;

    box {
      min-width: 68px;
      min-height: 68px;
      border-radius: 7px;
    }

    image {
      font-size: 58px;
      color: $fg;
    }
  }

  .notification {
    min-width: 30em;
    border-radius: 12px;
    margin: 0.4em;
    border: 2px solid $color0;
    box-shadow: 0 0 2px 2px #000000;
    background-color: $bg-dark;

    .content {
      background: $bg-light;
      border-radius: 12px;
      padding: 0.8em;
    }

    &.critical {
      border: 2px solid $color1;
    }
  }

  .title {
    color: $fg;
    font-weight: bold;
    font-size: 1.2em;
  }

  .body {
    color: $fg;
    font-size: 0.9em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .actions {
    .action-button {
      color: $fg;
      background: adjust-color($bg-light, $lightness: 2%);
      border-radius: 0.8em;
      padding: 0.8em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: adjust-color($hover, $lightness: 2%);
      }
    }
  }
}
