window.notification-popups box.notifications {
  * {
    all: unset;
    font-family: "Maple Mono";
  }

  padding: 0.4rem;

  .icon {
    min-width: 68px;
    min-height: 68px;
    margin: 0.5rem;

    box {
      min-width: 48px;
      min-height: 48px;
      border-radius: 7px;
    }

    image {
      font-size: 38px;
      color: $base05;
    }
  }

  .notification {
    min-width: 25em;
    border-radius: 6px;
    margin: 0.6rem;
    box-shadow: 0 0 2px 2px #050505;
    background-color: $base00;

    .content {
      background: $base01;
      border-radius: 6px;
      padding: 0.8em;
    }

    &.critical {
      border: 2px solid $base08;
    }
  }

  .title {
    color: $base05;
    font-weight: bold;
    font-size: 1rem;
  }

  .body {
    color: $base05;
    font-size: 0.85rem;
  }

  .actions {
    .action-button {
      color: $base05;
      font-size: 0.85rem;
      font-weight: bold;
      background: $base02;
      transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);
      border-radius: 0.4em;
      padding: 0.8em;
      margin: 0 0.4rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: $base03;
      }
    }
  }
}
