@mixin panel-slider {
  color: $base05;
  padding: 0 0.7em;

  scale {
    trough {
      background: transparentize($base05, 0.9);
      min-height: 0.4em;

      slider {
        background: none;
        box-shadow: none;
        border: none;
      }

      highlight {
        border: none;
        background: $base05;
      }
    }
  }
}

window#panel {
  background: transparent;

  .panel-box {
    border: 2px solid $base01;
    background: $base00;
    margin: 0.7em;

    .pb-lower {
      margin: 0.7em;

      .audio-slider {
        background: $base01;

        icon {
          margin-right: 0.8em;
        }

        @include panel-slider();
      }

      .wifi {
        background: $base01;

        icon {
          color: $base05;
        }
      }
    }

    .notif-centre {
      scrollbar {
        background: none;
      }

      .nc-header {
        font-size: 15px;
        font-family: "Iosevka Nerd Font Propo";
        color: $base05;
        padding: 0.7em;
        background: $base01;

        .clear-button {
          background: transparent;

          icon {
            color: $base05;
          }

          &:hover {
            icon {
              color: transparentize($color: $base05, $amount: 0.3);
            }
          }
        }
      }
    }
  }
}
