// There has got to be a better way to do this 
@import "/home/kevin/.config/ags_res/colors.scss";
@import "./bar.scss";
@import "./notification-popup.scss";
@import "./image-window.scss";
@import "./control-panel.scss";
@import "./app-launcher.scss";
