// There has got to be a better way to do this
@import "/home/kevin/.config/ags_res/colors.scss";

* {
  all: unset;
  font-family: "IosevkaTerm NF";
  font-size: 0.9rem;
}

@import "./bar.scss";
@import "./notification-popup.scss";
@import "./control-panel.scss";
@import "./app-launcher.scss";
