.bar * {
  all: unset;
  font-family: "Iosevka NF";
  font-size: 0.98em; }

.bar .cbox {
  border-radius: 12px;
  background: #111517;
  margin: 0.4em;
  box-shadow: 0 0 2px 2px #000000;
  border: 2px solid #111115;
  padding: 0.2em; }

.bar button {
  padding: 0.8em 0;
  background: #161b1d;
  border-radius: 6px;
  min-width: 2em;
  min-height: 2em; }
  .bar button:hover {
    background: #21282c; }

.bar .clock .icon {
  color: #76acad; }

.bar .clock label {
  font-weight: bold;
  font-size: 1.1em;
  color: #c2c4c2; }

.bar .workspaces {
  background: #161b1d;
  border-radius: 8px; }
  .bar .workspaces button {
    padding: 0;
    color: #717171;
    margin: 0px 2px; }
    .bar .workspaces button box {
      margin: 0.7em;
      transition: all 0.4s cubic-bezier(0.17, 0.67, 0.24, 1.46);
      background: #717171;
      border-radius: 1em; }
    .bar .workspaces button.occupied box {
      background: #c2c4c2; }
    .bar .workspaces button.active box {
      background: #6a9440;
      min-height: 3em; }
    .bar .workspaces button:first-child {
      margin-top: 4px; }
    .bar .workspaces button:last-child {
      margin-bottom: 4px; }

.bar .tray {
  border-radius: 6px;
  background: #161b1d;
  min-height: 32px; }
  .bar .tray button {
    padding: 0px;
    min-height: 24px;
    min-width: 8px;
    margin: 0px 2px; }
    .bar .tray button:first-child {
      margin-top: 4px; }
    .bar .tray button:last-child {
      margin-bottom: 4px; }
    .bar .tray button image {
      font-size: 10px; }
    .bar .tray button:hover {
      color: #21282c; }

.bar .tray-button {
  padding: 2px 0; }
  .bar .tray-button .icon {
    color: #c2c4c2;
    transition: all 0.2s cubic-bezier(1, 1, 1, 1);
    -gtk-icon-transform: rotate(90deg); }
    .bar .tray-button .icon.showing {
      -gtk-icon-transform: rotate(270deg); }

.bar .battery-label {
  border-radius: 6px;
  padding: 0.4em 0;
  background: #161b1d; }
  .bar .battery-label .battery-bulb {
    background: #576d9f;
    min-height: 3px;
    border-radius: 0.2em 0.2em 0px 0px;
    margin: 0 0.8em; }
  .bar .battery-label levelbar trough {
    border: 2px solid #576d9f;
    border-radius: 0.2em;
    margin: 0 0.6em; }
    .bar .battery-label levelbar trough block.filled {
      background: #576d9f; }
  .bar .battery-label.charging .battery-bulb {
    background: #6a9440; }
  .bar .battery-label.charging levelbar trough {
    border: 2px solid #6a9440; }
  .bar .battery-label.charging levelbar block.filled {
    background: #6a9440; }
  .bar .battery-label label {
    color: #c2c4c2;
    margin-top: 0.4em;
    font-size: 0.8em;
    padding: 0; }

.bar .control-button .icon.network {
  color: #766991; }

.bar .control-button .icon.volume {
  color: #6a9440; }

.bar .control-button .icon.power {
  font-size: 0.9em;
  color: #a54242; }

window#cal-window {
  all: unset;
  font-family: "Iosevka NF";
  background: transparent; }
  window#cal-window * {
    box-shadow: none;
    outline: none; }
  window#cal-window .cal-box {
    box-shadow: 0 0 2px 2px #000000;
    border-radius: 12px;
    border: 2px solid #111115;
    margin: 4px;
    background: #111517;
    color: #c2c4c2;
    font-size: 0.9em;
    padding: 1rem 1rem 0.2rem; }
    window#cal-window .cal-box .cal {
      border-radius: 12px;
      border: none;
      padding: 0.2rem 0.25rem 0rem;
      margin-left: 10px; }
      window#cal-window .cal-box .cal.highlight {
        padding: 10rem; }
  window#cal-window calendar:selected {
    color: #6a9440;
    background: transparent; }
  window#cal-window calendar.header {
    color: #76acad; }
  window#cal-window calendar {
    background: #111517; }
  window#cal-window calendar:indeterminate {
    color: #161b1d; }

window#notifications {
  all: unset;
  font-family: "Iosevka NF"; }
  window#notifications .notifications {
    padding: 0.5em 1px 0.5em 1px; }
  window#notifications .icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em; }
    window#notifications .icon box {
      min-width: 68px;
      min-height: 68px;
      border-radius: 7px; }
    window#notifications .icon image {
      font-size: 68px;
      color: #c2c4c2; }
  window#notifications .notification {
    min-width: 32em;
    border-radius: 12px;
    padding: 0.8em;
    margin: 0.4em;
    border: 2px solid #111115;
    box-shadow: 0 0 2px 2px #000000;
    background-color: #111517; }
    window#notifications .notification .critical {
      border: 2px solid #a54242; }
  window#notifications .title {
    color: #c2c4c2;
    font-weight: bold;
    font-size: 1.2em; }
  window#notifications .body {
    color: #c2c4c2;
    font-size: 0.9em; }
  window#notifications .actions .action-button {
    color: #c2c4c2;
    background: #161b1d;
    border-radius: 0.8em;
    margin-top: 0.8em;
    padding: 0.8em; }
    window#notifications .actions .action-button:first-child {
      margin-left: 0; }
    window#notifications .actions .action-button:last-child {
      margin-right: 0; }
    window#notifications .actions .action-button:hover {
      background: #21282c; }

window#image-window {
  all: unset;
  background: transparent; }
  window#image-window .image-box {
    margin: 0.8em;
    border: 2px solid #111115;
    border-radius: 12px;
    box-shadow: 0 0 4px 4px #000000;
    min-width: 200px;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

window#control-panel {
  background: transparent; }
  window#control-panel * {
    all: unset;
    font-family: "Iosevka NF";
    border: none; }
  window#control-panel .control-box {
    background: #111517;
    margin: 0.4em;
    border-radius: 12px;
    box-shadow: 0 0 2px 2px #000000;
    border: 2px solid #111115;
    padding: 0.8em; }
  window#control-panel .uptime {
    border-radius: 8px;
    background: #161b1d;
    font-size: 0.9em;
    color: #c2c4c2; }
  window#control-panel .power-box button {
    background: #161b1d;
    border-radius: 8px;
    min-width: 2.2em;
    min-height: 2.2em;
    font-size: 0.9em; }
    window#control-panel .power-box button:focus {
      background: #21282c; }
    window#control-panel .power-box button:hover {
      background: #21282c; }
    window#control-panel .power-box button:nth-child(1) {
      color: #a54242; }
    window#control-panel .power-box button:nth-child(2) {
      color: #6a9440; }
    window#control-panel .power-box button:nth-child(3) {
      color: #d08666; }
    window#control-panel .power-box button:nth-child(4) {
      color: #576d9f; }
  window#control-panel .audio-slider {
    all: unset;
    background: #161b1d;
    padding: 0 0.8em;
    min-width: 25em;
    min-height: 3em;
    border-radius: 8px;
    font-size: 0.9em; }
    window#control-panel .audio-slider .icon {
      margin-right: 0.4em; }
    window#control-panel .audio-slider scale trough {
      background: #21282c;
      min-height: 0.8em;
      border-radius: 8px; }
      window#control-panel .audio-slider scale trough slider {
        background: none;
        box-shadow: none;
        border: none; }
      window#control-panel .audio-slider scale trough highlight {
        border-radius: 16px;
        border: none; }
    window#control-panel .audio-slider.speaker .icon {
      color: #6a9440; }
    window#control-panel .audio-slider.speaker scale trough highlight {
      background: #6a9440; }
    window#control-panel .audio-slider.microphone .icon {
      color: #576d9f; }
    window#control-panel .audio-slider.microphone scale trough highlight {
      background: #576d9f; }
  window#control-panel .wifi {
    all: unset;
    padding: 0 0.8em;
    background: #161b1d;
    border-radius: 8px;
    min-height: 3em;
    font-size: 0.9em; }
    window#control-panel .wifi .icon {
      color: #766991; }
    window#control-panel .wifi:hover {
      background: #21282c; }
