$fg: #c2c4c2;
$bg-dark: #111517;
$bg-light: #161b1d;
$hover: #21282c;
$color0: #111115;
$color1: #a54242;
$color2: #6a9440;
$color3: #d08666;
$color4: #576d9f;
$color5: #766991;
$color6: #5a7d82;
$color7: #6a727a;
$color8: #717171;
$color9: #cc6666;
$color10: #98bd68;
$color11: #e7ae77;
$color12: #8aaece;
$color13: #ac8eb6;
$color14: #76acad;
$color15: #a2abae;

